header
	background mainColor url('../img/general/header-bg.jpg') center no-repeat
	height 70px
	color #FFF 
	
	.container
		display flex
		justify-content space-between
		align-items center
		padding 15px 0
		height 70px
		
.header-logo
	position absolute
	top 0
	left 50%
	margin-left -70px
	
.header-nav__title
	

.header-about
	
	span
		display block
		font-size 16px
	

.header-company__name
	margin-bottom 5px
	font-family boldFont
	text-transform uppercase  
	
.header-phone
	position relative
	padding-left 35px
	
	&:before
		content ''
		position absolute
		left 0
		top 50%
		margin-top -12px 
		display block
		width 25px
		height 25px
		// background url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/rip.svg') bottom center
		// background url('../img/svg/phone11.svg') 0 0 no-repeat
		// background url('../img/svg/phone.svg') 0 0 no-repeat
		background icon('phone11') 0 0 no-repeat
		background-size 100% 
	
	a
		color #fff
		display block
		font-size 20px
		font-family boldFont 
		
		&:first-child
			margin-bottom 5px
	
.sandwich
	position relative
	display inline-block
	vertical-align middle
	margin-right 15px 
	width 50px
	height 50px
	border 2px solid #fff
	border-radius 50px
	
.sandwich-line
	position absolute
	left 50%
	margin-left -12.5px
	display block
	width 25px
	height 4px
	background-color #fff
	
.sandwich-line--top
	top 13px
	

.sandwich-line--middle
	top 21px
	
	 
.sandwich-line--bottom
	top 29px
	
	 