header
	.container
		.header-nav
			.sandwich
				span.sandwich-line.sandwich-line--top
				span.sandwich-line.sandwich-line--middle
				span.sandwich-line.sandwich-line--bottom
			span.header-nav__title Меню
		.header-about
			span.header-company__name Группа компаний Emerald
			span.header-company__descr Организация свадебных торжеств
		.logo.header-logo
			img(src="static/img/general/logo.png" srcset="static/img/general/logo2x.png 2x")
		.header-phone
			a(href="tel:+74955955732") +7 (495) 115-57-23
			a(href="tel:+79853441057") +7 (985) 115-17-12
		a(href="javascript:void(0);").g-btn Заказать звонок

