extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ../sections/banner
	include ../sections/about
	include ../sections/services
	include ../sections/portfolio
	include ../sections/price