@import 'utils/fonts.styl'
@import 'utils/vars.styl'
@import 'utils/mixins.styl'
@import 'libs.styl'

// Стили главного баннера
@import 'sections/_banner.styl'

// Стили блока О нас
@import 'sections/_about.styl'

// Стили блока Услуги
@import 'sections/_services.styl'

// Стили блок Порфолио
@import 'sections/_portfolio.styl'

// Стили блок Стоимость
@import 'sections/_price.styl'

// Стили глобальные
@import 'components/components.styl'



html
	font-size 18px
	height 100%
	line-height 1.3

body
	font-family mainFont
	height 100%

h1,h2,h3,h4,h5,h6
	margin 0

ul,li
	list-style-type none
	margin 0
	padding 0

p
	margin 0

a
	color black
	text-decoration none

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle

textarea
	resize none

section
	position relative
	padding 70px 0

input,
select,
button
	outline none

*, *:before, *:after
	box-sizing border-box

// .wrapper
// 	display flex
// 	flex-direction column
// 	height 100%

.container
	position relative
	width 100%
	max-width 1170px 
	margin 0 auto

.content
	flex 1 0 auto


//Модули
@import "modules/modules.styl"

// СТРАНИЦЫ
// Главная страница
@import 'pages/index/index.styl'