.price
	background url('../img/general/price-bg.jpg') 0 0 no-repeat 
	
.price-item__wrap
	display flex
	-webkit-justify-content space-around 
	justify-content space-around 
	flex-wrap wrap
		
.price-item
	width 30%
	padding 20px 20px 30px
	border-radius 10px
	text-align center
	
.price-item--level1
	background url('../img/general/price/level1.jpg') 0 0 no-repeat
	background-size: cover	
.price-item--level2
	background url('../img/general/price/level2.jpg') 0 0 no-repeat
	background-size: cover
.price-item--level3
	background url('../img/general/price/level3.jpg') 0 0 no-repeat
	background-size: cover	


.price__title
	display block
	font-size 24px
	font-family boldFont
	line-height 1.2
	color mainColor
	text-transform uppercase
	
	 &:after
	 	content ''
	 	display block
	 	width 260px
	 	margin 20px auto
	 	height 1px
	 	background-color mainColor
	 	